@use "variables" as v;

html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    overflow-x: hidden;
}

a, a:visited, a:hover{
    text-decoration: none;
}

button, .btn{
    position: relative;
    display: inline-block;
    background-color: v.$rouge-principale;
    border: 0;
    border-radius: 1.25rem;
    cursor: pointer;
    color: #fff;
    transition: color 300ms ease-in-out;
    overflow: hidden;

    &:hover{
        background-color: darken(v.$rouge-principale, 2);
    }
}

ul li{
    list-style-type: none;
}