@use "variables" as v;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 4rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(
      darken($rouge-principale, 25),
      transparent
    );
    z-index: 1;
    transition: all 300ms ease-in;
  }

  .pacman {
    width: 2px;
    height: 5px;
  }

  h1 {
    color: v.$rouge-principale;
    font-size: clamp(1.6rem, 5vw + 1rem, 3.75rem);
  }

  img {
    height: clamp(1rem, 2vw + 1rem, 2.5rem);
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    width: 80%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background: #fff;
  }

  &__menu {
    display: flex;
    align-items: center;

    @include breakpoint-down(medium) {
      display: none;
    }

    &--toggle {
      width: 90%;
      position: absolute;
      top: 4rem;
      background-color: #fff;
      padding: 1.625rem;
      text-align: center;
      height: 34.375rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 20px;
      transition: transform 300ms ease-in-out;
      z-index: 1;

      a {
        padding: 0.625rem;
      }
    }
  }

  &__menu-item {
    &:not(:last-child) {
      padding-inline-end: 1rem;
    }

    
  }
  
  &__menu-link {
    margin-block-start: 6px;
    color: #000;
    &.btn{
      color: #fff;
    }
  }

  &__toggle {
    cursor: pointer;

    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $rouge-principale;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
